<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @feed.category %>
</p>

<p>
  <strong>Media:</strong>
  <%= @feed.media %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @feed.pub_date %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @feed.guid %>
</p>

<p>
  <strong>Link:</strong>
  <%= @feed.link %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
