<!DOCTYPE html>
<html>
  <head>
    <title>Wwr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
